html {
    font-size: 22px;
    scroll-behavior: smooth;
}

* {
   margin: 0;
}

body {
    background-color: #222;
    color: whitesmoke;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    /* max-width: 800px; */
    margin: 0 auto;
}

main {
  /*   flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem; */
  }

h1 {
font-weight: 540;
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: .25rem;
padding-right: .25rem;
color: lightgrey;
}

h2 {
font-weight: 540;
padding: .25rem;
}

p {
    padding: .25rem;
}

a {
    color: aliceblue;
    }
    
    a:visited {
        color: lightgray;
    }
    
    a:hover, a:active {
        color: #eee;
    }

hr {
    height: 2px; 
    background-color: grey; 
    border: none;   
    /* border-color: lightgrey;
    border-width: 2px; */
    }

ul {
        list-style-type: none;
        padding-left: 0;
        text-align: center;
        font-weight: 500;
    }

    .menu {
        background-color: hsl(200, 66%, 14%);
    }

    .menu-item {
        display: inline-block;
        padding: .25rem;
        margin-inline: .5rem;
        color: #a9ccf1;
    }

    #headshot {
        float: right;
        min-width: 30vh;
        max-width: 50vh;
        border-style: double;
        border-color: #a9ccf1;
        border-width: 4px;
        margin-left: 1rem;
    }

    #poster {
        width: 100%;
        height: auto;
        position: center;
        padding: 5px;
    }

    .engagements {
        list-style-type: disc;
        list-style-position: inside;
        padding: .25rem;
        text-align: left;
    }

    #resume {
        width: 100%;
        height: 40rem;
    }
    
    table, tr, th, td, caption {
        border: 1px solid #eee;
        font-family: 'Courier New', Courier, monospace;
        border-collapse: collapse;
        padding: 0.5rem;
    }

    .container-video {
        width: 600px;
        height: 338px;
        display: inline-block;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .container {
        display: inline-block;
        margin: 0 auto;
        justify-content: center;
        padding: none;
        background: linear-gradient(0deg, hsl(200, 20%, 15%) 0%, hsl(200, 24%, 40%) 100%);
        width: auto;
        min-width: 70%;
        max-width: 90vh;
        min-height: 100vh;
    }

    .container2 {
    /*     border: 5px double #6c839c; */
        margin: .5em;
        padding: 5px;
        text-align: left;
    }

    .featured {
        display: block;
        /* margin: .5em; */
        justify-content: center;
        /* padding: 5px; */
        position: relative;
        }

    .featureditem {
        display: block;
        /* margin: .5em; */
        justify-content: center;
        /* padding: 5px; */
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        }

    /* .featured video {
        width: 100%;
        height: auto;
        object-fit: cover;
    } */

    .featured iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

    .carousel-container {
        display: flex;                  /* Enables flexbox layout */
        justify-content: center;        /* Centers carousel horizontally */
        align-items: center;  
        background-size: cover; 
        background-size: no-repeat;          /* Centers carousel vertically */
        /* height: 100vh;  */                 /* Full viewport height to vertically center */
    }
    .carousel {
        position: relative;
        width: 100%;
        max-width: 600px;
        overflow: hidden;
        border-radius: 10px;
        /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
    }
    
    .carousel-inner {
        display: flex;
        width: 100%;
        transition: transform 0.5s ease-in-out;
    }
    
    .carousel-item {
        min-width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 400px; /* Fixed height for the carousel items */
    }
    
    .carousel-item img {
        max-height: 100%; /* Ensure all images have the same height */
        width: auto; /* Maintain the original proportions of the images */
        border-radius: 10px;
    }
    
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0,0,0,0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
    }
    
    button.prev {
        left: 10px;
    }
    
    button.next {
        right: 10px;
    }
    
    button:hover {
        background-color: rgba(0,0,0,0.7);
    }

    details>summary {
 
        list-style: none;
      }
      summary::-webkit-details-marker {
        display: none
      }
      
      summary::after {
        content: ' ►';
      }
      details[open] summary:after {
        content: " ▼";
      }